.nav .nav-item .nav-link:hover,
.nav .nav-item .nav-link:focus {
  background-color: transparent;
}

.navbar {
  border: 0;
  font-size: 14px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  padding: 0;
  background: #FFFFFF;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
}
.navbar .navbar-brand {
  font-weight: 600;
  margin: 5px 0px;
  padding: 20px 15px;
  font-size: 14px;
  color: #66615B;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.navbar .navbar-brand > img {
  padding: 7px 14px;
}
.navbar .navbar-toggler:focus {
  outline: none;
}
.navbar .form-control-feedback {
  padding-left: 0px;
}
.navbar:not([class*=bg]) .navbar-toggler .navbar-toggler-bar {
  background: #66615B !important;
}
.navbar .company-nav {
  float: left;
  margin-left: -390px;
  margin-top: 5px;
  height: 60px;
  max-width: 100%;
}
.navbar .company-nav > .company-logo {
  height: 150px;
  max-width: 100%;
}
.navbar .navbar-nav .nav-item .nav-link {
  line-height: 1.6;
  margin: 15px 3px;
  padding: 10px 15px;
  opacity: 0.8;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #66615B;
}
.navbar .navbar-nav .nav-item .nav-link p {
  margin: 0px 0px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5em;
  padding: 15px 0;
}
.navbar .navbar-nav .nav-item .nav-link.btn {
  margin: 15px 3px;
  padding: 9px;
}
.navbar .navbar-nav .nav-item .nav-link [class^=fa] {
  font-size: 17px;
  position: relative;
  right: 5px;
}
.navbar .navbar-nav .dropdown-menu {
  border-radius: 12px;
  margin-top: 1px;
}
.navbar .navbar-nav .nav-item .btn i {
  color: #FFFFFF;
}
.navbar .navbar-collapse .nav-item .nav-link p {
  display: inline;
}
.navbar .navbar-collapse .nav-item .dropdown-item i {
  margin: 0 10px;
  margin: 0 10px 0px 5px;
  font-size: 18px;
  position: relative;
  top: 3px;
}
.navbar .navbar-collapse.show .navbar-nav .nav-item {
  padding-right: 10px;
}
.navbar .navbar-collapse:after {
  background-color: #fffcf5;
}
.navbar #navbarSupportedContent .nav-item {
  position: relative;
}
.navbar .notification-bubble {
  padding: 0.4em 0.6em;
  position: absolute;
  top: 10px;
  right: -2px;
}
.navbar .btn {
  margin: 14px 3px;
  font-size: 12px;
}
.navbar .btn i {
  font-size: 14px;
  position: relative;
  top: 2px;
}
.navbar .btn-simple {
  font-size: 16px;
}
.navbar .caret {
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
}
.navbar.navbar-transparent {
  background: transparent !important;
  padding-top: 25px;
  box-shadow: none;
}
.navbar.navbar-transparent .navbar-brand {
  color: #FFFFFF;
}
.navbar.navbar-transparent .navbar-nav .nav-item .nav-link {
  color: #FFFFFF;
}
.navbar.navbar-transparent .navbar-toggler .navbar-toggler-bar {
  background: #FFFFFF !important;
}
.navbar .logo-container {
  margin-top: 5px;
}
.navbar .logo-container .logo {
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #333333;
  width: 50px;
  float: left;
}
.navbar .logo-container .logo img {
  width: 100%;
}
.navbar .logo-container .brand {
  font-size: 18px;
  color: #ffffff;
  line-height: 20px;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  width: 75px;
  height: 50px;
}
.navbar .navbar-toggler .navbar-toggler-bar + .navbar-toggler-bar,
.navbar .navbar-toggler .navbar-toggler-icon + .navbar-toggler-icon {
  margin-top: 4px;
}
.navbar .navbar-toggler .navbar-toggler-bar {
  background: #FFFFFF !important;
  display: block;
  position: relative;
  width: 24px;
  height: 2px;
  border-radius: 1px;
  margin: 0 auto;
}

.navbar-transparent .navbar-brand,
[class*=bg] .navbar-brand {
  color: #FFFFFF;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.navbar-transparent .navbar-brand:focus, .navbar-transparent .navbar-brand:hover,
[class*=bg] .navbar-brand:focus,
[class*=bg] .navbar-brand:hover {
  background-color: transparent;
  opacity: 1;
  filter: alpha(opacity=100);
  color: #FFFFFF;
}
.navbar-transparent .navbar-nav .nav-item .nav-link:not(.btn),
[class*=bg] .navbar-nav .nav-item .nav-link:not(.btn) {
  color: #FFFFFF;
  border-color: #FFFFFF;
}
.navbar-transparent .navbar-nav .active .nav-link .active .nav-link:hover,
.navbar-transparent .navbar-nav .active .nav-link:focus,
.navbar-transparent .navbar-nav .nav-item .nav-link:hover,
.navbar-transparent .navbar-nav .nav-item .nav-link:focus,
[class*=bg] .navbar-nav .active .nav-link .active .nav-link:hover,
[class*=bg] .navbar-nav .active .nav-link:focus,
[class*=bg] .navbar-nav .nav-item .nav-link:hover,
[class*=bg] .navbar-nav .nav-item .nav-link:focus {
  background-color: transparent;
  color: #FFFFFF;
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-transparent .navbar-nav .nav .nav-item a.btn:hover,
[class*=bg] .navbar-nav .nav .nav-item a.btn:hover {
  background-color: transparent;
}
.navbar-transparent .navbar-nav .dropdown .nav-link .caret,
.navbar-transparent .navbar-nav .dropdown .nav-link:hover .caret,
.navbar-transparent .navbar-nav .dropdown .nav-link:focus .caret,
[class*=bg] .navbar-nav .dropdown .nav-link .caret,
[class*=bg] .navbar-nav .dropdown .nav-link:hover .caret,
[class*=bg] .navbar-nav .dropdown .nav-link:focus .caret {
  border-bottom-color: #FFFFFF;
  border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav .open .nav-link,
.navbar-transparent .navbar-nav .open .nav-link:hover,
.navbar-transparent .navbar-nav .open .nav-link:focus,
[class*=bg] .navbar-nav .open .nav-link,
[class*=bg] .navbar-nav .open .nav-link:hover,
[class*=bg] .navbar-nav .open .nav-link:focus {
  background-color: transparent;
  color: #66615B;
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-transparent .btn-default.btn-fill,
[class*=bg] .btn-default.btn-fill {
  color: #9A9A9A;
  background-color: #FFFFFF;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.navbar-transparent .btn-default.btn-fill:hover,
.navbar-transparent .btn-default.btn-fill:focus,
.navbar-transparent .btn-default.btn-fill:active,
.navbar-transparent .btn-default.btn-fill.active,
.navbar-transparent .open .dropdown-toggle.btn-fill.btn-default,
[class*=bg] .btn-default.btn-fill:hover,
[class*=bg] .btn-default.btn-fill:focus,
[class*=bg] .btn-default.btn-fill:active,
[class*=bg] .btn-default.btn-fill.active,
[class*=bg] .open .dropdown-toggle.btn-fill.btn-default {
  border-color: #FFFFFF;
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-absolute {
  position: absolute;
  width: 100%;
  padding-top: 10px;
  z-index: 1029;
}

.bd-docs .navigation-example .navbar.navbar-transparent {
  padding-top: 0;
  padding: 20px 0;
  margin-top: 20px;
}